html, body {
margin: 0;
padding: 0;
background-color:#222222;
min-height: 100%;
}

.header{
background-color: #388194;
position: absolute;
top:0;
left:0;
width:100%;
height:5%;
}

.protector {
min-height: 10%;
height: 10%;
}

.main-container {

}

.main {
background-color: white;
background-color:#222222;
min-height: 604px; /* This was 60% which made things flexible*/ /* Added 4px for border*/
height:604px; /* This was 70% which made things flexible*/
min-width: 600px;
width: 900px;
margin: 0px auto;
text-align: center;
}

.canvas {
	border:1px solid #DDD;
}

.experiementTitle {
		border:1px solid #DDD;
		padding:10px;
		margin:0 auto;
		margin-top:10px;
		width:600px;
	  }
	  
	  
	  .title{
	  font-size:20pt;
	  color:#AAA
	}
	  
	  .canvasBar{
	  margin:0 auto;
	  border:1px solid #DDD;
	  margin-top:0px; 
	  border-top:none;
	  padding:10px;
}

.nextButton, .resultsButton {
    width: 80px;
    height: 40px;
    background-color: red;
    line-height: 40px;
	float: right;
	color:white;
	text-shadow: 1px 1px 1px black;
    margin-top: -320px; /* -40 for the button height, -280 for the vertical center of the canvas*/
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0,#77CC77),color-stop(0.5,#44AA44),color-stop(0.8,#118811));
	-webkit-box-shadow: 0 1px 3px black;
	/*visibility: hidden;*/
}

.resultsButton {
	/*background: -webkit-gradient(linear, left top, left bottom,color-stop(0,#AAAAAA),color-stop(0.5,#777777),color-stop(0.8,#444444));*/
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0,#7777CC),color-stop(0.5,#4444AA),color-stop(0.8,#111188));
}

.disabled {
	/*background: -webkit-gradient(linear, left top, left bottom,color-stop(0,#AAAAAA),color-stop(0.5,#777777),color-stop(0.8,#444444));*/
	visibility:hidden;
}

/*.nextButton:after {
	font-size: 20px;
	content:">";

}*/

.clearfix{
clear:both;
}

.protectorBottom {
min-height: 5%;
height: 5%;
}

label{
min-width: 150px;
font-size:25px;
color:white;
float:left;
padding-top:3;
text-align:left;
}

input{
color:blue;
font-size:25px;
float:left;
}

.single-field{
clear:both;
height:45px;
}

form {
width:500px;
margin: 0 auto;
}

.whiteshadow {
  -moz-box-shadow:    -1px -1px 1px 1px #ccc;
  -webkit-box-shadow: -1px -1px 1px 1px #ccc;
  box-shadow:         -1px -1px 1px 1px #ccc;
}

.button {
  cursor: hand; cursor: pointer;

}

.submitFormButton {
	clear:both;
	width: 100px;
	font-size:30px;

	color:white;
	float:right;
	margin-top: 10px;
	margin-right:70px;
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0,#0000CC),color-stop(0.5,#0000AA),color-stop(0.8,#000088));
}


.footer-container { /*absolute position means that it goes out of normal flow*/
width:100%;
min-height: 5%;
height:5%;
/*position:absolute;
--try top:90%; then give it the 10% height
bottom:0;
position:relative;
top:90%;*/
}

.footer { /*any contained element is relative the absolute container*/
background-color: #388194;
min-height: 80%;
height:100%;
width:1000px;
margin:0px auto;
}